.img-fluid {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family:'arial', Verdana, sans-serif;
    color: #4d5152;
}

body {
  color: #4d5152;
    margin-bottom: 2em;
}

nav {
  margin-top:-4em;
  margin-bottom:2em;
  background-color: #e9f3f7;
}

table {
    display: inline-table;
    table-layout:fixed;
    word-wrap:break-word;
    overflow:scroll;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

h3 {
    text-align: center;
}

.container {
    padding: 0.5em;
    margin-bottom: 3em;
}

ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid white;
}


li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #666a6b;
  font-size: large;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #666a6b;
  text-decoration: none;
  font-weight: bold;
}

#error {
    font-size: large;
    text-align: center;
}

span {
    color: red;
    font-size: large;
    text-align: center;
    display: block;
}

div#content {
    padding: 2em;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.2);
    background-color: #3291a8;
  }
  40%{
    transform: scale(1);
    background-color: #8acbdb;
  }
  50%{
    transform: scale(1);
    background-color: #d1e3e8;
  }
}

div.loading {
    height: 40px;
    width: 40px;
    border-radius:50%;
    transform: scale(0);
    background-color:red;
    animation: scaling 2.5s ease-in-out infinite;
    display: inline-block;
    margin:.5rem;
}

div.loading:nth-child(0){
  animation-delay:0s;
}
div.loading:nth-child(1){
  animation-delay:0.2s;
}
div.loading:nth-child(2){
  animation-delay:0.4s;
}
div.loading:nth-child(3){
  animation-delay:0.6s;
}
div.loading:nth-child(4){
  animation-delay:0.8s;
}
div.loading:nth-child(5){
  animation-delay:1s;
}

div.form_container {
  margin-top:2em;
  margin-bottom: 2em;
}

#ctrl_comments {
    font-size: small;
}

p.profil {
    font-size: large;
}

img {
  width: 20em;
  height: 20em;
}

textarea{
    max-width: 100%;
}