.img-fluid {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h3 {
    text-align: center;
}

.container {
    padding: 0.5em;
    margin-bottom: 3em;
}

.body {
    color: rgb(23, 23, 22);
}

#error {
    font-size: large;
    text-align: center;
}