{%extends "layout.html" %}
{%block content%}
<div class="row justify-content-center">
    <h1>Extermination punaises de lit</h1>
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" method="post" action="/">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Chercher par nom de quartier ou par arrondissement"
                    name="recherche" value="{{ request.form['recherche'] }}">
                </div>
                <div class="col-auto">
                    <button class="btn-lg btn-secondary" type="submit">Chercher</button>
                </div>
            </div>
        </form>
        {%if error%}
            <span id="error">{{error}}</span>
        {%endif%}
        <br>
        <div id="formulaire_dates">
            <h3>Chercher par dates</h3>
            <div class="col text-center"><span id="error_date"></span></div>
            <form>
                <div class="row g-4">
                    <div class="col-md">
                        <div class="form-floating">
                            <label for="floatingInputGrid">Date début</label>
                            <input type="text" class="form-control" id="date_debut" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <label for="floatingInputGrid">Date fin</label>
                            <input type="text" class="form-control" id="date_fin" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <label for="floatingInputGrid">Quartier</label>
                            <select id="quartiers" class="form-control"><option value="Aucune">Aucune</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row h-150">
                    <div class="col text-center">
                        <button class="btn-sm btn-secondary" type="button" onclick="chercherParDates();">Chercher</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="content"></div>
    </div>
</div>
{% endblock %}
            