<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Extermination de punaises Montréal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body> 
    <table class="table table-striped" width="100%">
        <tr>
            <th>No déclaration</th>
            <th>Date déclaration</th>
            <th>Date inspection préalable</th>
            <th>Nbr extermination</th>
            <th>Date début traitement</th>
            <th>Date fin traitement</th>
            <th>No quartier</th>
            <th>Nom quartier</th>
            <th>Nom arrondissement</th>
            <th>Coordonnée X</th>
            <th>Coordonnée Y</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <tr>
            {% for row in recherche %}
            <tr>
                <td>{{row.NO_DECLARATION}}</td>
                <td>{{row.DATE_DECLARATION}}</td>
                <td>{{row.DATE_INSP_VISPRE}}</td>
                <td>{{row.NBR_EXTERMIN}}</td>
                <td>{{row.DATE_DEBUTTRAIT}}</td>
                <td>{{row.DATE_FINTRAIT}}</td>
                <td>{{row.No_QR}}</td>
                <td>{{row.NOM_QR}}</td>
                <td>{{row.NOM_ARROND}}</td>
                <td>{{row.COORD_X}}</td>
                <td>{{row.COORD_Y}}</td>
                <td>{{row.LONGITUDE}}</td>
                <td>{{row.LATITUDE}}</td>
            </tr>
            {% endfor %}
        </tr>
    </table>
  </body>
</html>