{%extends "layout.html" %}
{%block content%}
  <tr>
      <th>No déclaration</th>
      <th>Date déclaration</th>
      <th>Date inspection préalable</th>
      <th>Nbr extermination</th>
      <th>Date début traitement</th>
      <th>Date fin traitement</th>
      <th>No quartier</th>
      <th>Nom quartier</th>
      <th>Nom arrondissement</th>
      <th>Coordonnée X</th>
      <th>Coordonnée Y</th>
      <th>Longitude</th>
      <th>Latitude</th>
  </tr>
  <tr>
      {% for declaration in recherche %}
      <tr>
          <td>{{declaration.no_declaration}}</td>
          <td>{{declaration.date_declaration}}</td>
          <td>{{declaration.date_insp_vispre}}</td>
          <td>{{declaration.nbr_extermin}}</td>
          <td>{{declaration.date_debut_trait}}</td>
          <td>{{declaration.date_fin_trait}}</td>
          <td>{{declaration.no_qr}}</td>
          <td>{{declaration.nom_qr}}</td>
          <td>{{declaration.nom_arr}}</td>
          <td>{{declaration.coord_x}}</td>
          <td>{{declaration.coord_y}}</td>
          <td>{{declaration.longitude}}</td>
          <td>{{declaration.latitude}}</td>
      </tr>
      {% endfor %}
  </tr>
{% endblock %}